/* You can add global styles to this file, and also import other style files */
/* funciona como um css reset, para que navegadores se comportem com a mesma forma de escrita */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: antiquewhite;
}

body {
  background-color: #1f1147;
}